requests
tenacity
pyyaml
python-dotenv
pandas
joblib
pytest
pytest-mock
earthaccess
pandas
scipy
diskcache
ipykernel
dotenv
torch
matplotlib
fastapi
uvicorn
onnx
onnxruntime
tensorrt